/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	background: #F6F0DB;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
	line-height: 21px;
}

#wrap {
	width: 930px;
	margin: 0 auto;
	padding: 0 15px;
}

.clear {
	clear: both;
}


/* HEADER */
#header {
	background: #303030;
	color: #c9c9c9;
	padding: 16px 10px;
	font-size: 12px;
	margin-bottom: 40px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-font-smoothing: antialiased;
}

.user {
	float: right;
	height: 35px;
	
}

.user-avatar {
	float: left;
	border-radius: 45px;
	width: 30px;
	height: 30px;
	border: 2px solid #242424;
	margin-right: 6px;
	overflow: hidden;	
}

.user .user-avatar img {
	width: 30px;
	height: 30px;
}

.user p {
	line-height: 34px;
	display: inline-block;
}

.user p span {
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}

/* CONTENT DASHBOARD */
.content-concert ul {
}

.content-concert li {
	float: left;
	width: 300px;
	margin-right: 15px;
}

.content-concert li:last-child {
	margin-right: 0;
}

.content-concert li p.date {
	color: #ae5c1f;
	font-size: 16px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	background: url(/images/icon-calendar.png) 0 4px no-repeat;
	text-indent: 26px;
	margin-bottom: 12px;
}

.content-concert li .cover {
	width: 300px;
	height: 300px;
	position: relative;
}
/*
.content-concert li .cover img {
	background-color: #000;
	border-radius: 3px;
}
*/
li .cover .img {
	background-color: #000;
	border-radius: 3px;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.content-concert li .info {
	background: #000;
	position: absolute;
	top: 12px;
	color: #FFF;
	padding: 12px;
	opacity: 0.7;
}

.content-concert li .info h3 {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 3px;
	opacity: 1;
}

.content-concert li .info .adress-fast {
	font-size: 12px;
	color: #cbcbcb;
	line-height: 18px;
}


/* OVERLAY */
.content-concert .overlay {
	position: absolute;
	top: 0;
	display: none;
	
}

.content-concert li .cover:hover .overlay {
	display: block;
}

.content-concert .overlay a .black-cover {
	background: #000;
	width: 300px;
	height: 300px;
	top: 0;
	opacity: 0.7;
	border-radius: 3px;
}

.content-concert .overlay a .play {
	background: url(/images/icon-play.png) no-repeat;
	width: 84px;
	height: 84px;
	position: absolute;
	top: 107px;
	left: 107px;
}

/* CONTENT PLAYLIST */
.content-playlist .head-event {
	background: url(/images/background-playlist.png);
	height: 130px;
	padding: 0 26px;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}

.content-playlist .head-event h1 {
	font-size: 24px;
	line-height: 36px;
	color: #FFF;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	margin: 20px 0 10px 0;
}

.content-playlist .head-event p {
	font-size: 16px;
	line-height: 24px;
	color: #dedede;	
	background: url(/images/icon-calendar-playlist.png)no-repeat;
	text-indent: 32px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.content-playlist .head-event a {
	display: block;
	font-weight: bold;
	color: #FFF;
	padding: 18px;
	font-size: 16px;
	max-width: 150px;
	text-align: center;
	text-decoration: none;
	background-color: #8268af;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
	border: 1px solid #342a45;
	box-shadow: inset 0 -1px 2px rgba(0,0,0,0.4);
	border-radius: 3px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	right: 26px;
	top: 35px;
	position: absolute;
}

.content-playlist .head-event a:hover {
	background-color: #8e73b0;
}

.content-playlist .head-event a:active {
	background-color: #74569a;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.playlist {
	background: ;
	width: 516px;
	height: 800px;
	float: left;
	margin-right: 30px;
}

.playlist .tracklist ul {
	background: #FDFDF6;
	border: 1px solid #CFC5B2;
	border-radius: 3px;
}

.playlist .tracklist ul li {
	border-bottom: 1px solid #CFC5B2;
	padding: 8px;
	min-height: 27px;
}

.playlist .tracklist ul li:last-child {
	border-bottom: none;
}

.playlist .tracklist ul li .play {
	width: 27px;
	height: 27px;
	background: url(/images/play-icon.png) no-repeat;
	display: inline-block;
	float: left;
	margin-right: 8px;
}

.playlist .tracklist ul li div a {
	color: #7f67b5;
	font-weight: bold;
	line-height: 30px;
}

.rightbar {
	float: right;
	width: 382px;
}


/* H3 RIGHT BAR */
.lineup h3, .adress h3, .share h3 {
	text-transform: uppercase;
	color: #ae5c1f;
	font-weight: bold;
	padding-bottom: 4px;
	-webkit-font-smoothing: antialiased;
	border-bottom: 1px solid #E8D0B5;
	box-shadow: 0 1px 0 rgba(255,255,255,1);
	margin-bottom: 8px;
}

/* MARGIN BOTTOM RIGHT BAR */
.lineup, .adress, .share {
	margin-bottom: 30px;
}

/*LINE UP */
.lineup ul {
	
}

.lineup ul li {
	padding: 6px 12px;
	background: #E7CEB3;
	float: left;
	font-size: 12px;
	display: inline;
	border-radius: 40px;
	color: #643715;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	margin-right: 10px;
	margin-bottom: 10px;
}

/* MAP */
.adress #map {
	position: relative;
}

.adress #map #adresse {
	position: absolute;
	top: 0;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	width: 90%;
	left: 10px;
	top: 74%;
	padding: 10px;
	border-radius: 3px;
}

.adress #map #adresse h4 {
	font-size: 14px;
	color: #33312b;
	font-weight: bold;
	text-transform: uppercase;
}

.adress #map #adresse p {
	font-size: 12px;
	color: #6b675a;
}

/* SHARE */
.share .links ul li {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}



